<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="row-cols-12 border border-secondary rounded" style="padding:15px;">
                    <label for="uname">Username</label> <br>
                    <input type="text" placeholder="Username" name="uname" class="form-control" required><br>

                    <label for="psw">Password</label><br>
                    <input type="password" placeholder="Password" name="psw" class="form-control" required><br>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4"><button type="submit" class="btn btn-primary">Login</button></div>
                        <div class="col-4"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4"><a href="#">Register</a></div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>