
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="col-4 border border-secondary rounded" style="padding:15px;">                    
                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight">Register</div>
                        <div class="p-2 bd-highlight"> <a>X</a> </div>
                    </div>
                    <hr />
                    <div style="margin-left:20px">
                        <label for="uname">Username</label> <br>
                        <input type="text" name="uname" class="form-control" style="width: 1000px" required><br>

                        <label for="uname">Name</label> <br>
                        <input type="text" name="name" class="form-control" required><br>

                        <label for="psw">Address</label><br>
                        <textarea cols="3" class="form-control"></textarea> <br>

                        <label for="uname">Birth Of Date</label> <br>
                        <input type="text" placeholder="dd/mm/yyyy" name="uname" class="form-control" required><br>

                        <label for="uname">Email</label> <br>
                        <input type="text" name="uname" class="form-control" required><br>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4"><button type="submit" class="btn btn-primary">Register</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

